@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #000;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (133px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 133px);
  grid-auto-rows: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.gallery__item {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  grid-column: span 2;
  height: 283px;
  -webkit-transition: 0.5s -webkit-filter;
  transition: 0.5s -webkit-filter;
  transition: 0.5s filter;
  transition: 0.5s filter, 0.5s -webkit-filter;
}

.gallery__item:hover {
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.gallery__item:first-of-type {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.titulo {
  text-align: center;
  padding: 2.5rem 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: underline;
  color: #e7dac2;
  -webkit-text-decoration-color: #e7dac2;
          text-decoration-color: #e7dac2;
  font-size: 2.4rem;
  font-family: sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background: #001923;
}

section::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe3be), to(#e91e63));
  background: linear-gradient(#ffe3be, #e91e63);
  border-radius: 50%;
  -webkit-transform: translate(-420px, -180px);
          transform: translate(-420px, -180px);
}

section::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#83d8ff));
  background: linear-gradient(#2196f3, #83d8ff);
  border-radius: 50%;
  -webkit-transform: translate(400px, 180px);
          transform: translate(400px, 180px);
}

.container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.container h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat auto-fit, minmax(250px, 1fr);
      grid-template-columns: repeat auto-fit, minmax(250px, 1fr);
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}

.container .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.container .row100 .col .inputBox input,
.container .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  z-index: 1;
  color: #000;
}

.container .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text,
.container .row100 .col .inputBox textarea:focus + .text,
.container .row100 .col .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .col .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.container .row100 .col .inputBox textarea:focus ~ .line,
.container .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}

.container .row100 .col input[type="submit"] {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  section::before {
    -webkit-transform: translate(-200px, -180px);
            transform: translate(-200px, -180px);
  }
  section::after {
    -webkit-transform: translate(220px, 180px);
            transform: translate(220px, 180px);
  }
  .container {
    padding: 20px;
  }
  .container h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 270px) and (max-width: 504px) {
  .gallery__item:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .gallery {
    grid-auto-rows: 283px;
  }
}

@media screen and (min-width: 505px) and (max-width: 685px) {
  .gallery__item:nth-of-type(odd) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 686px) and (max-width: 862px) {
  .gallery__item:nth-of-type(3n+1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 863px) and (max-width: 1038px) {
  .gallery__item:nth-of-type(4n+1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 1039px) and (max-width: 1208px) {
  .gallery__item:nth-of-type(5n+1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 1209px) and (max-width: 1383px) {
  .gallery__item:nth-of-type(6n+1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 1384px) {
  .gallery__item:nth-of-type(7n+1) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #222121;
  color: #f7f7f7;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar__logo {
  color: #f7f7f7;
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 24px;
}

.navbar__bars {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #f7f7f7;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu--links {
  color: #f7f7f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu--links:hover {
  color: #49d437;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #49d437;
  margin-left: 16px;
  color: #f7f7f7;
}

.navbar__menu #button:hover {
  background: #fb4b4e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.containerServicios {
  width: 90%;
  height: 100vh;
  padding: 0 8%;
  margin-right: 20px;
  margin-left: 20px;
}

.servicio {
  color: #f7f7f7;
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background 0.5s;
  transition: transform 0.5s, background 0.5s, -webkit-transform 0.5s;
}

.servicio i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #49d437;
}

.servicio h2 {
  font-weight: 600;
  margin-bottom: 8px;
  color: #f7f7f7;
}

.servicio:hover {
  background: #fb4b4e;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.servicio:hover i {
  color: #fff;
}

.containerServicios h1 {
  text-align: center;
  color: #f7f7f7;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.containerServicios h1::after {
  content: '';
  background: #49d437;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rowServicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.hero {
  background-color: #222121;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}

.hero__container--left h1 {
  font-size: 4rem;
  color: #f7f7f7;
}

@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}

.hero__container--left h2 {
  font-size: 4rem;
  color: #49d437;
}

@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}

.hero__container--left p {
  font-size: 2rem;
  color: #f7f7f7;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 1.5rem;
  }
}

.hero__container--btn {
  font-size: 1rem;
  background-color: #49d437;
  padding: 14px 32px;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
}

.hero__container--btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container--btn:hover:after {
  width: 100%;
}

.hero__container--right {
  text-align: center;
}

.hero__container--img {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=estilos.css.map */